.article {
    margin: 0 16em;
    text-align: justify;
    box-shadow: 1px 1px 3px 0.1px #40404047;
    border-radius: 4px;
    padding: 2em;
    background-color: white;
}

.blog-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-header > h2 {
    margin: 0 0 2em 0;
}

.blog-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.medium-logo {
    background: transparent;
    filter: opacity(1);
    transition: filter ease .5s;
}

.medium-logo:hover {
    filter: opacity(.5);
}

.medium-logo > img {
    height: 4em;
    width: 4em;
    margin: 2em calc((100vw - 4em)/2);
}

