.body-element {
    width: 50%;
    margin-bottom: 2em;
}

.Body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0 4em;
}

@media only screen and (max-width: 900px) {
    .body-container {
        flex-direction: column;
        flex-flow: column-reverse;
        padding: 2em 1em 1em 1em;
    }

    .body-element {
        width: 100%;
    }
}

.primary {
    background-color: white;
    text-align: justify;
}

.secondary {
    background-color: white;
    text-align: center;

}

.portrait {
    max-height: 400px;
    max-width: 80%;
    border-radius: 50%;
}