.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 2em;

    border-top: 1em solid #f3e2e46b;
    background-color: white;
}

.Footer > img {
    height: 4em;
}