.Header {
    display: flex;
    align-items: center;
    padding: 2em 5em;
}

.Header > .normal-link > img {
    height: 4em;
    margin: 0 4em 0 2em;
}

@media only screen and (max-width: 900px) {
    .Header {
        padding: 1em;
    }
}