.Header {
    display: flex;
    align-items: center;
    padding: 2em 5em;
    justify-content: flex-end;
}

.Header > .normal-link > img {
    height: 2em;
    margin: .5em 4em 0 2em;
}

@media only screen and (max-width: 900px) {
    .Header {
        padding: 1em;
        justify-content: center;
    }
}