.Section {
    margin: 0 auto;
    padding: 2em 2em 3em 2em;
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Section > .section-content > .picture-container {
    float: right;
    margin: 5em 1em 1em 1em;

    border-radius: 4px;
    overflow: hidden;

    display: flex;
    justify-content: center;

    height: 30vh;
    width: 30vh;
    max-width: 70vw;
}

.Section > .section-content > .picture-container > img {
    height: 100%;
}

.Section > .section-content {
    text-align: justify;
}

.Section > .section-content > .article {
    display: flex;
    flex-direction: column;
    padding: 2em;
    box-shadow: 0 0 5px 4px #eaeaea8c;
    border-radius: 2px;
    max-height: 80vh;
    overflow: scroll;
}

.Section > .section-content > .article > h1 {
    font-family: "Cormorant Garamond", "Quicksand", "Helvetica Neue", Arial;
    font-size: 2em;
}

.Section > .section-content > .markdown-block {
    margin: 2em 0;
}

@media only screen and (max-width: 900px) {
    .Section {
        padding: 0em 1em 2em 1em;
    }

    .Section > .section-content > .picture-container {
        float: none;
        border: .5em solid #ffffff2e;
        margin: 1em auto;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        max-height: 70vw;
    }
}