body {
    font: normal 16px/1.9em "Lato", "Helvetica Neue", Arial, sans-serif;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1 {
    font-family: "Quicksand", "Cormorant Garamond", "Helvetica Neue", Arial;
    font-weight: 100;
    font-size: 1em;
}

h2, h3 {
    font-family: "Cormorant Garamond", "Quicksand", "Helvetica Neue", Arial;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: #6c908e;
}

@media only screen and (max-width: 600px) {
    h1, h2, h3 {
        font-size: 1em;
    }

    .Headline {
        font-size: 4em;
    }
}